.book-shelves-bg-con {
  background-color: #f5f7fa;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.filter-container-lg {
  background-color: white;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 20px;
  padding: 10px;
  padding-right: 24px;
}
@media screen and (max-width: 780px) {
  .filter-container-lg {
    display: none;
  }
}

.bookshelves-heading {
  font-family: 'Roboto';
  font-size: 20px;
}
.filter-list-con-lg {
  list-style-type: none;
  padding-left: 0;
}
.active-filter-lg {
  color: #0284c7;
  font-weight: bold;
  opacity: 8;
}
.active-filter-btn-lg {
  border: none;
  background-color: white;
  outline: none;
  font-family: 'Roboto';
  opacity: 0.8;
  margin: 10px;
}
.filter-books-search-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 2100px;
  width: 100%;
}
.search-input-con {
  margin-right: 50px;
}
.book-list-con {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media screen and (max-width: 780px) {
  .book-list-con {
    display: flex;
  }
}
.filtered-book-heading {
  font-size: 20px;
}
@media screen and (max-width: 780px) {
  .filtered-book-heading {
    display: none;
  }
}
.loader-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-input {
  border-radius: 3px;
  outline: none;
  border-right: none;
  border: 1px solid #94a3b8;
  height: 25px;
  padding-left: 10px;
}
@media screen and (max-width: 780px) {
  .search-input-con {
    margin-top: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 780px) {
  .filter-books-search-con {
    display: flex;
    flex-direction: row;
  }
  .bookshelves-heading-sm {
    margin-left: 20px;
  }
}
.search-btn {
  border: 1px solid #94a3b8;
  outline: none;
  border-radius: 3px;
  padding: 2px;
}
.search-icon {
  color: #94a3b8;
  height: 14px;
  width: 14px;
}
.bookshelves-filter-btn {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #0284c7;
  color: #0284c7;
  margin: 5px;
  font-family: 'Roboto';
  padding: 4px;
  font-weight: 400;
}
.book-filter-sm {
  margin-left: 20px;
}
.active-filter-btn {
  color: white;
  background-color: #0284c7;
}
.no-msg-found {
  display: flex;
  justify-content: column;
  justify-content: center;
}
.no-match-para {
  font-family: 'Roboto';
  color: #334155;
  font-size: 20px;
  text-align: center;
}
